@media (max-width:400px){
    #breadcrumbRow{
        h2{
        }
        .pageTitle{
            h4{
                font-size: 14px;
            }
            ul{
                li{
                    font-size: 11px;
                    font-weight: normal;
                    &+ li{
                        &:before{
                        }
                    }
                    a{
                    }
                }
            }
        }
    }
}