<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <%
	include("head.html"){}
	%>
</head>
<body>
    
     <%
	include("header.html"){}
	%>
    
    <section id="breadcrumbRow" class="row">
        <h2>关于我们</h2>
        <div class="row pageTitle m0">
            <div class="container">
                <h4 class="fleft">关于我们</h4>
                <ul class="breadcrumb fright">
                    <li><a href="/shop-index-web/index">首页</a></li>
                    <li class="active">关于我们</li>
                </ul>
            </div>
        </div>
    </section>
    
    <section id="whatWeDid" class="row contentRowPad">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 tab_menu">
                    <div class="row m0">
                        <ul class="nav navbar-right" role="tablist" id="myTab">
                            <li role="presentation" class="active"><a href="#wwd2011" aria-controls="wwd2011" role="tab" data-toggle="tab">2011</a></li>
                            <li role="presentation"><a href="#wwd2012" aria-controls="wwd2012" role="tab" data-toggle="tab">2012</a></li>
                            <li role="presentation"><a href="#wwd2013" aria-controls="wwd2013" role="tab" data-toggle="tab">2013</a></li>
                           <!--  <li role="presentation"><a href="#wwd2014" aria-controls="wwd2014" role="tab" data-toggle="tab">2014</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 tab-contents">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="wwd2011">
                            <h3>What we did in 2011</h3>
                            
                            <p>We provide the best Quality of products to you.We are always here to help our lovely customers.We ship our products anywhere with more secure.</p>
                            <p>We provide the best Quality of products to you.We are always here to help our lovely customers.We ship our products anywhere with more secure.to help our lovely customers.</p>
                            <p>We provide the best Quality of products to you.We are always here to help our lovely customers.We ship our products anywhere with more secure.to help our lovely customers.</p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="wwd2012">
                            <h3>What we did in 2012</h3>
                            
                            <p>We provide the best Quality of products to you.We are always here to help our lovely customers.We ship our products anywhere with more secure.</p>
                            <p>We provide the best Quality of products to you.We are always here to help our lovely customers.We ship our products anywhere with more secure.to help our lovely customers.</p>
                            <p>We provide the best Quality of products to you.We are always here to help our lovely customers.We ship our products anywhere with more secure.to help our lovely customers.</p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="wwd2013">
                            <h3>What we did in 2013</h3>
                            
                            <p>We provide the best Quality of products to you.We are always here to help our lovely customers.We ship our products anywhere with more secure.</p>
                            <p>We provide the best Quality of products to you.We are always here to help our lovely customers.We ship our products anywhere with more secure.to help our lovely customers.</p>
                            <p>We provide the best Quality of products to you.We are always here to help our lovely customers.We ship our products anywhere with more secure.to help our lovely customers.</p>
                        </div>
                        <!-- <div role="tabpanel" class="tab-pane" id="wwd2014">
                            <h3>What we did in 2014</h3>
                            
                            <p>We provide the best Quality of products to you.We are always here to help our lovely customers.We ship our products anywhere with more secure.</p>
                            <p>We provide the best Quality of products to you.We are always here to help our lovely customers.We ship our products anywhere with more secure.to help our lovely customers.</p>
                            <p>We provide the best Quality of products to you.We are always here to help our lovely customers.We ship our products anywhere with more secure.to help our lovely customers.</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    
    <section id="hww" class="row contentRowPad">
        <div class="container">
            <h3>how we work</h3>
            <div class="col-sm-4">
                <h5><span>01.</span> Planning</h5>
                <p>We provide the best Quality of products to you.We are always here to help our lovely customers.We ship our products anywhere with more secure.</p>
            </div>
            <div class="col-sm-4">                
                <h5><span>02.</span> Designing</h5>
                <p>We provide the best Quality of products to you.We are always here to help our lovely customers.We ship our products anywhere with more secure.</p>
            </div>
            <div class="col-sm-4">                
                <h5><span>03.</span> Shipping</h5>
                <p>We provide the best Quality of products to you.We are always here to help our lovely customers.We ship our products anywhere with more secure.</p>
            </div>
        </div>
    </section>
    
      <%
	include("footer.html"){}
	%>
</body>
</html>