<footer class="row">
        <div class="row m0 topFooter">
            <div class="container line1">
                <div class="row footFeatures">
                    <div class="col-sm-4 footFeature">
                        <div class="media">
                            <div class="media-left icon"><img src="images/icons/car3.png" alt=""></div>
                            <div class="media-body texts">
                                <h4>免费送货</h4>
                                <h2>国际</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 footFeature">
                        <div class="media m0">
                            <div class="media-left icon"><img src="images/icons/tel24-7_2.png" alt=""></div>
                            <div class="media-body texts">
                                <h4>24小时在线</h4>
                                <h2>123 456 789</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 footFeature">
                        <div class="media m0">
                            <div class="media-left icon"><img src="images/icons/shopping-bag2.png" alt=""></div>
                            <div class="media-body texts">
                                <h4>看我们的</h4>
                                <h2>最新优惠</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container line2">
                <div class="row">
                    <div class="col-sm-3 widget">
                        <div class="row m0">
                            <h4>关于家具</h4>
                            <p>我们为您提供最好的产品质量。我们一直在这里帮助我们可爱的客户。</p>
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 widget">
                        <div class="row m0">
                            <h4>信息</h4>
                            <ul class="nav">
                                <li><a href="about.html">关于我们</a></li>
                                <li><a href="services.html">服务</a></li>
                                <li><a href="blog.html">博客</a></li>
                                <li><a href="#">招聘</a></li>
                                <li><a href="#">顶级品牌</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 widget">
                        <div class="row m0">
                            <h4>顶级品牌s</h4>
                            <ul class="nav">
                                <li><a href="#">贝尼西亚床</a></li>
                                <li><a href="#">铸造厂</a></li>
                                <li><a href="#">BorkHolder</a></li>
                                <li><a href="#">伯顿詹姆斯</a></li>
                                <li><a href="#">科普兰</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 widget">
                        <div class="row m0">
                            <h4>订阅我们的最新消息</h4>
                            <form action="subscriptionList.php" method="post" role="form">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input type="email" class="form-control" id="subscribeEmail" name="subscribeEmail" placeholder="EMAIL ADDRESS">
                                </div>
                                <input type="submit" class="form-control" value="Subscribe" id="submit" name="submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row m0 copyRight">
            <div class="container">
                <div class="row">
                    <div class="fleft">&copy; 2015 <a href="index.html">FurnitureHouse</a> All Rights Reserved.</div>
                    <ul class="nav nav-pills fright">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">about</a></li>
                        <li><a href="blog.html">blog</a></li>
                        <li><a href="contact.html">contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    