<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
         <%
	include("head.html"){}
	%>
    <script type="text/javascript">
	 	// 更换验证码
	    function changeimage(){
	        $('#captchaImage').attr("src", "captcha.form?timestamp=" + (new Date()).valueOf());
	    }
	 	
	    $(function () {
	        $('form').bootstrapValidator({
	            fields: {
	            	username: {
	                    validators: {
	                        notEmpty: {
	                            message: '用户名不能为空'
	                        } 
	                    }
	                },
	                 password: {
	                     validators: {
	                         notEmpty: {
	                             message: '密码不能为空'
	                         }
	                     }
	                 },
	                yzm: {
	                    validators: {
	                        notEmpty: {
	                            message: '验证码不能为空'
	                        },remote : {  
	                            url : '/shop-index-web/verifybyyzm',  
	                            message : "验证码输入错误！",  
	                            delay : 1000,  
	                            type : 'post',  
	                    	}
	                    }
	                },
	            }
	        }).on('success.form.bv', function(e) {
	            // Prevent form submission
	            e.preventDefault();
	            // Get the form instance
	            var $form = $(e.target);
	            // Get the BootstrapValidator instance
	            var bv = $form.data('bootstrapValidator');
	            // Use Ajax to submit form data
	            $.post($form.attr('action'), $form.serialize(), function(result) {
	            	/* if(result.status==200){
	        		 	window.location.href=result.msg;
	            	} */
	            	if(result.status==200){
	        		 	window.location.href=result.msg;
	            	}else{
	            		qq(result);
	            	}
	            }, 'json');
	        });
	    });
	    function qq(result){
	   	 /*  BootstrapDialog.show({
	             title: 'Say-hello dialog',
	             message: 'Hi Apple!'
	         }).setType(BootstrapDialog.TYPE_SUCCESS); */
	         
	   	  BootstrapDialog.show({
	             title: '登录信息',
	             message: result.msg,
	             type: BootstrapDialog.TYPE_SUCCESS, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
	             closable: true, // <-- Default value is false
	             draggable: true, // <-- Default value is false
	           /* buttonLabel:'确  定', */ // <-- Default value is 'OK',
	             /* callback: function(result) {
	                 // result will be true if button was click, while it will be false if users close the dialog directly.
	                 //alert('Result is: ' + result);
	           	  window.location.href=login;
	             } */
	            /*  onhidden: function(dialogRef){
	           	  if(result.status==200){
	           	  	window.location.href="/shop-index-web/login";
	           	  }
	           	  
	             } */
	         });
	     }
	    $(function(){
	  	  <% 
	        if(session["user"]!=null){
	       %>
	       	window.location.href="/shop-index-web/index";
	       <%
	     	}
	     %>
	    });
    </script>
</head>
<body>
      <%
	include("header.html"){}
	%>
	<!-- <% 
      if(session["user"]!=null){
     %>
     	<script type="text/javascript">
		 	window.location.href="/shop-index-web/index";
     	</script>
     <%
     	}
     %> -->
    <!-- <input id="login" value="/shop-index-web/index"/> -->
    <section id="breadcrumbRow" class="row">
        <h2>登 录</h2>
        <div class="row pageTitle m0">
            <div class="container">
                <h4 class="fleft">登 录</h4>
                <ul class="breadcrumb fright">
                
                    <li><a href="/shop-index-web/index">首页</a></li>
                    <li class="active">登 录</li>
                </ul>
            </div>
        </div>
    </section>
    
    <section class="row contentRowPad">
        <div class="container">
            <div class="row" >
                <div class="col-sm-6 loginRow" style="float: right;">
                    <div class="login row m0">
                        <h4 class="heading">登录</h4>
                        <div class="row loginInner">
                            <div class="col-sm-12">
                                <div class="row loginForm">
                                    <form action="/shop-index-web/log" method="post">
                                        <div class="form-group">
                                            <label calss>用户名 *</label>
                                            <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名">
                                        </div>
                                        <div class="form-group">
                                            <label for="userPassword">密码  *</label>
                                            <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
                                        </div>

                                        <div class="form-group">
                                            <label >验证码  *</label>
                                            <input type="text" class="form-control" id="yzm" name="yzm" placeholder="请输入验证码">
                                       		<img id="captchaImage" src="captcha" onclick="changeimage()" />
                                        </div> 

                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-primary btn-sm filled">登录</button>
                                            <a href="#">忘记密码</a>
                                        </div> 
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <!-- <div class="col-sm-5 orderSummaryRow">
                    <div class="row orderSummary m0">
                        <h4 class="heading">手机快速注册</h4>
                        <div class="row m0 orderSummaryInner table-responsive">
                            <form action="#" method="post">
                            	<div class="form-group">
                                            <label for="userEmail">手机号码 *</label>
                                            <input type="tel" class="form-control" id="userPhone" placeholder="输入手机号码">
                                        </div>
                            </form>
                        </div>
                    </div>
                </div> -->  
            </div>
             <!-- <form action="#" method="post" role="form" class="row checkoutForm">
                <div class="row m0">
                    <div class="col-sm-5" id="billingAddress">
                        <h4 class="heading">Billing Address</h4>

                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" name="firstName" id="firstName" placeholder="First Name" class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="lastName" id="lastName" placeholder="Last Name" class="form-control">
                            </div>
                        </div>
                        <input type="text" name="companyName" id="companyName" placeholder="Company Name" class="form-control">
                        <input type="text" name="address" id="address" placeholder="Address" class="form-control">
                        <input type="text" name="townCity" id="townCity" placeholder="Town / City" class="form-control">
                        <input type="text" name="stateCountry" id="stateCountry" placeholder="State / Country" class="form-control">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" name="zipcode" id="zipcode" placeholder="Postcode / ZIP" class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <input type="tel" name="phone" id="phone" placeholder="Phone" class="form-control">
                            </div>
                        </div>

                        <input type="checkbox" name="shippingAddressEscape" id="shippingAddressEscape">
                        <label for="shippingAddressEscape">Ship Items To The Above Billing Address</label>                    
                    </div>
                    <div class="col-sm-5" id="shippingAddress">
                        <h4 class="heading">Shipping Address</h4>

                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" name="firstName" id="firstName" placeholder="First Name" class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="lastName" id="lastName" placeholder="Last Name" class="form-control">
                            </div>
                        </div>
                        <input type="text" name="companyName" id="companyName" placeholder="Company Name" class="form-control">
                        <input type="text" name="address" id="address" placeholder="Address" class="form-control">
                        <input type="text" name="townCity" id="townCity" placeholder="Town / City" class="form-control">
                        <input type="text" name="stateCountry" id="stateCountry" placeholder="State / Country" class="form-control">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" name="zipcode" id="zipcode" placeholder="Postcode / ZIP" class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <input type="tel" name="phone" id="phone" placeholder="Phone" class="form-control">
                            </div>
                        </div>                   
                    </div>
                </div>
                
                <div class="row m0 paymentMethodMode">
                    <div class="col-sm-12">
                        <h4 class="heading">select payment mode</h4>
                        <div class="row m0">
                            <label>
                                <input type="radio" name="pamentMode" id="directBank"> Direct Bank Transfer <br> <p class="m0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order wont be shipped until 
the funds have cleared in our account.</p>
                            </label>
                            <label>
                                <input type="radio" name="pamentMode" id="cheque"> Cheque Payment
                            </label>
                            <label>
                                <input type="radio" name="pamentMode" id="paypal"> Paypal <img src="images/card.png" alt="">
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="row m0">
                    <div class="col-sm-12">
                        <button class="btn btn-primary filled btn-sm" type="submit">submit</button>
                    </div>
                </div>
            </form>  -->
        </div>
    </section>
    
      <%
	include("footer.html"){}
	%>
</body>
</html>